*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #fff;
}


/* HEADER */

header{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

#brand {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.menu-links {
  display: flex;
} 


/* SOCIAL ICONS NEAR HEADER */

.social-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: -40px;
  overflow: hidden;
}

.social-header {
  display: flex;
  flex-direction: column;
  /* padding-left: 40px; */
}

svg {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

svg:hover {
  fill: #D1B258;
  transition: 0.5s;
}



/* MAIN BODY */

.main-image-container {
  overflow: hidden;
  width: 80%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
}

.main-image-container img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: auto;
}

.main-front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-front-page h1, h2, button, iframe {
  margin-top: 70px;
}

.main-front-page h1 {
  font-size: 4em;
  color: #a3956d;
}

h2 {
  font-size: 2em;
  color: #a3956d;
}


/* NEW CAROUSEL CSS */


/* .video-carousel {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-top: 50px;
} */

.video-carousel {
  position: relative;
  top: 0;
  left: 0;
  width: 70vw;
  height: 70vh;
  margin-top: 20px;
  z-index: 998;
}

.theVideos {
  display: none;
}

.video-carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide > img {
  display: block;
  width: 700px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  opacity: 0;
  padding-bottom: 90px;
}

.video-carousel:hover .carousel-button {
  opacity: 1;
  transition: 0.5s;
}

.carousel-button img {
  width: 50px;
  height: auto;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.video-carousel-svg {
  width: 50px;
  height: 50px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  opacity: 0;
}

.video-carousel:hover .overlay {
  opacity: 1;
  transition: 0.5s;
}

.video-carousel:hover .theImages {
  opacity: 0.7;
}

.close-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 991;
}

.close-button svg {
  width: 24px;
  height: 24px;
}

.play-button {
  height: 50px;
  width: auto;
}




/* BUTTONS */

.main-button {
  background-color: black;
  color:  #a3956d;
  border: 1px solid  #a3956d;
  width: 231px;
  height: 90px;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'Noticia Text', serif;
}

.main-button:hover {
  background-color: #a3956d;
  color: black;
}

#shout-button {
  font-family: 'Noticia Text', serif;
  background-color:  #a3956d;
  color: black;
  font-style: italic;
  width: 231px;
  height: 90px;
}

#shout-button:hover {
  background-color: #DCC8A4;
}


/* SOCIAL CONTAINER FOOTER */

.social-container-footer {
  display: flex;
  justify-content: center;
  margin-top:  50px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.social-footer {
  display: flex;
}

.social-footer svg {
  margin: 5px;
  width: 42px;
  height: 42px;
}

hr {
  display: none;
  width: 200px;
  border: 1px solid #D1B258;
  margin-top: 8px;
}


/* BIO */

.bio-container {
  display: flex;
  padding: 0 15em;
}

.left-column {
  flex: 1;
  margin-top: -130px;
}

.left-column h2 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 40px;
  padding-bottom: 20px;
}

.left-column p {
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 18px;
  line-height: 25px;
}

.right-column {
  flex: 1;
}

.right-column img {
  width: 100%;
  height: auto;
}

.right-column p {
  text-align: right;
  color: darkgray;
  font-style: italic;
}

#bio-photo-mobile {
  display: none;
  width: 100%;
  height: auto;
}

/* MUSIC */

.music-column {
  margin-top: -80px;
  padding: 0 15em;
}

.music-column h2 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 40px;
  padding-bottom: 20px;
}

.music-column img {
  width: 500px;
  height: auto;
  padding-bottom: 50px;
}

.music-column p {
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 18px;
  line-height: 25px;
}

/* MUSIC CAROUSEL */

.owl-carousel {
  display: none;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background: none !important;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 10%;
  left: 10px;
}

.owl-nav .owl-next {
  position: absolute;
  top: 10%;
  right: 10px;
}

.owl-carousel .owl-dots {
  margin-top: -60px;
}

.owl-carousel img:hover {
  opacity: 0.8;
}



/* PROJECTS */

.music-column h3 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 30px;
  padding-bottom: 20px;
}

#reggae-title {
  padding-top: 60px;
  margin-bottom: -40px;
}

/* SHOWS */

.shows-column {
  margin-top: -80px;
  padding: 0 15em;
}

.shows-column p {
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 20px;
  line-height: 35px;
}

.shows-column h2 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 40px;
  padding-bottom: 20px;
}

.shows-column img {
  width: 100%;
  min-width: 400px;
  height: auto;
}


/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 12.5rem);
  gap: .5rem;
}

/* Gallery Layout */
.gallery_item--1{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.gallery_item--2{
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}

.gallery_item--3{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.gallery_item--4{
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

.gallery_item--5{
  grid-column: 2 / span 1;
  grid-row: 6 / span 2;
}

.gallery_item--6{
  grid-column: 1 / span 1;
  grid-row: 6 / span 2;
}

/* Gallery Link */
.gallery_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Gallery Link Overlay */
.gallery_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #fff;

  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}

.gallery_link:hover .gallery_overlay {
  opacity: 1;
}

/*Gallery Overlay Text */
.gallery_overlay span {
  position: relative;
  line-height: 3rem;
}

/*Lines in the text */
.gallery_overlay span:before,
.gallery_overlay span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width .3s ease-out .2s;
}

.gallery_overlay span:before {
  top: 0;
  left: 0;
}

.gallery_overlay span:after {
  bottom: 0;
  right: 0;
}

.gallery_link:hover .gallery_overlay span:before,
.gallery_link:hover .gallery_overlay span:after {
  width: 100%;
}

/* Gallery Image */
.gallery_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: 
      transform .5s,
      filter .5s;
}

/*make image larger when hovered*/
.gallery_link:hover .gallery_image {
  transform: scale(1.2);
  filter: blur(2px);
}


.carousel-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel img {
  max-width: 80%;
  max-height: 80%;
}

.carousel .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.carousel .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.carousel .nav-btn.left {
  left: 10px;
  padding-left: 80px;
}

.carousel .nav-btn.right {
  right: 10px;
  padding-right: 80px;
}






/* CONTACT PAGE */

.contact-heads h2 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 40px;
}

.contact-heads h3 {
  color: #D1B258;
  font-family: "DIN Next Rounded LT W01 Light";
  font-size: 30px;
  padding-bottom: 20px;
}

.contact-page {
  display: block;
  padding: 0 15em;
  text-align: center;
  margin-top: -120px;
}

.contact-page-mobile {
  display: none;
}

.contact-heads {
  text-align: left;
}

.contact-row {
  display: flex;
}

.contact-form, .contact-image, .social-contact {
  padding-right: 20px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-image {
  flex: 2;
}

.social-contact {
  flex: 1;
  text-align: left;
}

.contact-image img {
  width: 100%;
  min-width: 450px;
  height: auto;
}

#contact-mobile {
  display: none;
}

#contact-desktop {
  display: block;
}


.contact-form input, .contact-form textarea {
  width: 100%;
  height: auto;
}

.contact-form input {
  margin-bottom: 10px;
  height: 40px;
  background-color: #B2B2B2;
  min-width: 265px;
}

.contact-form textarea {
  background-color: #B2B2B2;
  height:90%;
}

#contact-button {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 100%;
  font-family: 'Noticia Text', serif;
  background-color:  #a3956d;
  color: black;
  font-style: italic;
  cursor: pointer;
}

#contact-button:hover {
  background-color: #DCC8A4;
}

.contact-form p {
  padding-top: 170px;
  font-style: italic;
}

.social-contact p {
  font-size: 25px;
}

.bottom-row {
  display: flex;
}

.submit-left, .submit-right {
  flex: 1;
  text-align: left;
  font-style: italic;
}

.submit-center {
  flex: 2;
  text-align: right;
  font-style: italic;
  color: darkgray;
}

.social-contact a {
  text-decoration: none;
  color: #fff;
  font-family: "DIN Next Rounded LT W01 Light";
}

.social-contact svg {
  margin-bottom: -10px;
  padding-right: 5px;
}










@media (max-width: 940px) {
  header {
    display: block;
    text-align: center;
  }

  .social-header {
    flex-direction: row;
  }

  .social-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 100px;
    overflow: hidden;
    margin-left: 34px;
  }

  .social-header svg {
    padding-right: 10px;
    width: 35px;
    height: 35px;
  }
}





























.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  text-align: center;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 40px 15px;
  font-size: 14px;
  line-height: 1;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
}

.menu li a:hover {
  color: #D1B258;
  transition: 0.5s;
}

#current-page-link {
  color: #D1B258;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 3px;
  background: #fff;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  background: #fff;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 30px;
}

.hamburger:after {
  top: 10px;
  width: 30px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
  position: fixed;
}

.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
}

.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 20px;
}

.navigation input:checked ~ .menu {
  opacity: 1;
  box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}





@media screen and (max-width: 768px) {

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 140px;
  }

  .navigation {
    margin-top: 30px;
  }

  .social-container {
    display: none;
  }

  #brand {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #brand h1 {
    font-size: 33px;
  }

  .hamburger,
  .toggle-menu {
    display: block;
  }

  .menu-links {
    margin-top: 80px;
    flex-direction: column;
  }

  .menu {
    display: none;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    opacity: 0;
  }

  .menu li {
    width: 100%;
  }

  .menu li a,
  .menu li a:hover {
    padding: 10px;
    font-size: 24px;
  }

  iframe {
    width: 80%;
    height: auto;
  }

  .main-front-page h1 {
    font-size: 2em;
  }

  .main-front-page h2 {
    padding: 0 10px;
    font-size: 1.5em;
  }

  hr {
    display: block;
  }

  .menu-links li a {
    font-size: 16px;
    padding-top: 16px;
  }

  /* BIO */

  .bio-container {
    flex-direction: column;
    padding: 0 10px;
    margin-top: -50px;
  }

  #bio-photo-mobile {
    display: block;
  }

  #bio-photo-deskop {
    display: none;
    width: 20px;
  }

  .right-column img:first-child {
    display: none;
  }

  /* MUSIC */



  /* PROJECTS */

  .music-column {
    padding: 0 10px;
    margin-top: -180px;
  }

  .music-column img {
    width: 90%;
    height: auto;
  }

  .music-column h3 {
    font-size: 1.5em;
  }

  /* SHOW */

  .shows-column {
    padding: 0 10px;
    margin-top: -180px;
  }

  .shows-column h2 {
    font-size: 2em;
  }

  .shows-column p{
    font-size: 16px;
  }

  /* CONTACT */

  .contact-page {
    display: none;
  }

  .contact-page-mobile {
    display: block;
    text-align: center;
    margin-top: -180px;
    padding: 0 10px;
  }

  .contact-row {
    display: flex;
    flex-direction: column;
  }
  
  #contact-mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  
  #contact-desktop {
    display: none;
  }

  .contact-page-mobile p {
    padding-bottom: 10px;
  }

  .contact-heads p {
    color: darkgray;
    font-style: italic;
    text-align: right;
  }

  .contact-page-mobile h3 {
    font-size: 1.5em;
  }

  #mobile-textarea {
    height: 140px;
  }

  #contact-p {
    margin-top: -160px;
  }
}



